**/.dockerignore
**/.gitignore
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/build
**/docker-compose*
**/Dockerfile*
**/.git
**/.vs
**/node_modules
**/dist
**/.angular
secrets/
.env
LICENSE
README.md
*.user